<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.1//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    
    <!--Definicion de mappers y alias -->
    
    
    
    <typeAliases> 
        
        <typeAlias alias="DriverBean" type ="pe.edu.pucp.carpooling.bean.DriverBean"></typeAlias>
        <typeAlias alias="DistritBean" type ="pe.edu.pucp.carpooling.bean.DistritBean"></typeAlias>
        <typeAlias alias="TripBean" type ="pe.edu.pucp.carpooling.bean.TripBean"></typeAlias>
        <typeAlias alias="UniversityBean" type ="pe.edu.pucp.carpooling.bean.UniversityBean"></typeAlias>
        <typeAlias alias="UserBean" type ="pe.edu.pucp.carpooling.bean.UserBean"></typeAlias>
        <typeAlias alias="EntityBean" type ="pe.edu.pucp.carpooling.bean.EntityBean"></typeAlias>
        <typeAlias alias="CarBean" type ="pe.edu.pucp.carpooling.bean.CarBean"></typeAlias>
        
    </typeAliases>
    
    
    <mappers> 
        
     <mapper resource="pe/edu/pucp/carpooling/resources/xml/mapper/init-mapper.xml" />
     <mapper resource="pe/edu/pucp/carpooling/resources/xml/mapper/trip-mapper.xml" />
     <mapper resource="pe/edu/pucp/carpooling/resources/xml/mapper/driver-mapper.xml" />
     <mapper resource="pe/edu/pucp/carpooling/resources/xml/mapper/distrit-mapper.xml" />
     <mapper resource="pe/edu/pucp/carpooling/resources/xml/mapper/user-mapper.xml" />
     <mapper resource="pe/edu/pucp/carpooling/resources/xml/mapper/entity-mapper.xml" />
        
    </mappers>
    

</configuration>
