<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="pe.edu.pucp.carpooling.mapper.EntityMapper">

    <select id="getAllEntities"  resultType="EntityBean">
        SELECT * FROM tbl_Entity;
    </select>
    
    <select id="getHostNameEntity"  resultType="String">
        SELECT hostMail FROM tbl_entity where idEntity=#{idEntity};
    </select>
    
</mapper>