<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="pe.edu.pucp.carpooling.mapper.TripMapper">

    <select id="getListTripByIdDistritNeedBigCar" resultType="TripBean"  >
        SELECT *
        FROM tbl_TripDay 
        WHERE idDistrit=#{idDistrit}
        AND numPersonCapacity &gt; numPersonAboard
        AND dayTrip=#{dateTrip}
        AND hourTrip=#{hourTrip}
        AND flagActive=1
        AND
            (SELECT bigCar FROM tbl_car
	    WHERE tbl_car.idCar=tbl_TripDay.idCar)= 1
        ORDER BY pricePerson
    </select>
    
    <select id="getListTripByIdDistrit" resultType="TripBean"  >
        SELECT *
        FROM tbl_TripDay 
        WHERE idDistrit=#{idDistrit}
        AND numPersonCapacity &gt; numPersonAboard
        AND dayTrip=#{dateTrip}
        AND hourTrip=#{hourTrip}
        AND flagActive=1
        ORDER BY pricePerson
    </select>
    
    <update id="saveUserToTrip" >
        UPDATE tbl_TripDay
        SET numPersonAboard=numPersonAboard+1
        WHERE idTripDay=#{idTrip}
        AND idCar=#{idCar}
    </update>
    
    <update id="releaseDriverToTrip" >
        UPDATE tbl_TripDay
        SET flagActive=0
        WHERE idTripDay=#{idTrip}
    </update>
    
    <insert id="associateUserTrip">
        
        INSERT INTO tbl_userxtrip(idTripDay,idUser,needExtraSpace)
        VALUES (#{idTrip},#{idUser},#{needExtra})
    </insert>
    
    <delete id="removeUserTrip">
        
        DELETE FROM tbl_userxtrip
        WHERE idTripDay=#{idTrip}
        AND idUser=#{idUser};
        
    </delete>
    
    <insert id="saveTripDay">
        
        INSERT INTO tbl_TripDay
        (idDistrit,idEntity,idCar,numPersonAboard,dayTrip,hourTrip,pricePerson,placeParking,numPersonCapacity,destinyReference)
        values (#{idDistrit},#{idEntity},#{idCar},#{numPersonAboard},#{dayTrip},
                #{hourTrip},#{pricePerson},#{placeParking},#{numPersonCapacity},#{referenceDestiny})
    </insert>
    
    <select id="getTripByIDUser" resultType="TripBean"  >
        SELECT * FROM tbl_tripday
        WHERE idTripDay=
        (SELECT idTripDay from tbl_userxtrip 
        WHERE idUser=#{idUser}
        ORDER BY idTripDay DESC 
        LIMIT 1)
    </select>
    
    <update id="updateTripAfterRemoveUser">
        
        UPDATE tbl_TripDay
        SET numPersonAboard=numPersonAboard-1
        WHERE idTripDay=#{idTripDay}
        
    </update>
    
    <select id="getUsersInTrip" resultType="String">
        SELECT idUser
        FROM tbl_userxtrip
        where idTripDay=#{idTripDay}
    </select>
    
    <select id="getFlagNeedExtraSpace" resultType="Integer">
        SELECT needExtraSpace
        FROM tbl_userxtrip
        where idTripDay=#{idTripDay} and idUser=#{idUser}
    </select>
    
</mapper>