

#headsection{
    background: #B6D9E0;
    height: 13%;
}

#containerimg
{
    float:left;
    padding-top: 2%;
    padding-left: 3%;
    width:250px;
    
}

.btnCustom {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	font: bold 13px Helvetica, Arial, sans-serif;
	height: 30px;
	margin: 5px 0 35px 10px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 100px;
}
.btnCustom :hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}

.containerInfoTrip{
    
    background-color: #FFFFFF;
    width:63%;
    height: 45%;
    position:absolute;
    top:25%;
    left:16%;
    padding-top:5%;
    padding-left:5%;
    border-radius:15px; 
    -moz-border-radius:15px; /* Firefox */ 
    -webkit-border-radius:15px; /* Safari y Chrome */ 
    border-style: solid;
    border-color: #D4D4D4;
    border-width: 2px;
    
}

.containerInfoTripStudent{
    
    background-color: #FFFFFF;
    width:85%;
    height: 53%;
    position:absolute;
    left:8%;
    padding-top:5%;
    padding-left:0%;
    border-radius:15px; 
    -moz-border-radius:15px; /* Firefox */ 
    -webkit-border-radius:15px; /* Safari y Chrome */ 
    border-style: solid;
    border-color: #D4D4D4;
    border-width: 2px;
    
}

.titleInfoTrip
{
    color:#3792AB;
    font-weight: bold;
    
    
}