<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

        <bean id="sqlSessionFactoryLocal" class="org.mybatis.spring.SqlSessionFactoryBean">
            <property name="dataSource" ref="dataSourceLocal" />
            <property name="configLocation" value="classpath:pe/edu/pucp/carpooling/resources/xml/mybatis-config.xml" />
        </bean>
        
        <!-- Enlace con el mapper -->

        <bean id="initMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="pe.edu.pucp.carpooling.mapper.InitMapper" />
            <property name="sqlSessionFactory" ref="sqlSessionFactoryLocal" />
        </bean>
        
        <bean id="tripMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="pe.edu.pucp.carpooling.mapper.TripMapper" />
            <property name="sqlSessionFactory" ref="sqlSessionFactoryLocal" />
        </bean>
        
        <bean id="driverMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="pe.edu.pucp.carpooling.mapper.DriverMapper" />
            <property name="sqlSessionFactory" ref="sqlSessionFactoryLocal" />
        </bean>
        
        <bean id="distritMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="pe.edu.pucp.carpooling.mapper.DistritMapper" />
            <property name="sqlSessionFactory" ref="sqlSessionFactoryLocal" />
        </bean>
        
     
        <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="pe.edu.pucp.carpooling.mapper.UserMapper" />
            <property name="sqlSessionFactory" ref="sqlSessionFactoryLocal" />
        </bean>
        
        <bean id="entityMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
            <property name="mapperInterface" value="pe.edu.pucp.carpooling.mapper.EntityMapper" />
            <property name="sqlSessionFactory" ref="sqlSessionFactoryLocal" />
        </bean>
</beans>
